{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>search</title>
</head>
<body>
<h1>検索</h1>
<form method="get" class="form">
  {% csrf_token %}
  {{ form|crispy }}
<button type="submit" class="btn btn-primary">検索</button>
</form>
{% for obj in filter.qs %}
    date_field: {{ obj.date_field }} datetime_field: {{ obj.datetime_field }}
{% endfor %}    
</body>
</html>